<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>October Movie Marathon</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'movies/style.css' %}">
  </head>
  <body>
    <h1>October Movie Marathon 2025 Schedule</h1>

    <h2>The October Schedule</h2>
    <ul>
      {% for entry in october_schedule %}
      <li>{{ entry.date|date:"F j" }}: {{ entry.movie.title }}</li>
      {% endfor %}
    </ul>

    <br />
    <a href="{% url 'movie_pool' %}">View All Movies in My Pool</a> |
    <a href="{% url 'add_movies' %}">Add Movies</a>
  </body>
</html>
